<!DOCTYPE html>
<html lang="pt-br">
<head>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/professor-avaliacoes-corrigir.css">
    <link rel="stylesheet" href="/icons/font/flaticon.css">
    <link rel="stylesheet" href="https://use.typekit.net/gvd0wuw.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Result - English in the family | Professor</title>
</head>
<body>


    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 menu">
                <h1 class="menu__title">AVALIAÇÃO {{avaliacao.numero}}</h1>

                <h2 class="menu__subtitle">{{avaliacao.Avaliação.nome}}</h2>

                <div class="perguntas">
                    <p class="perguntas__text">{{avaliacao.Avaliação.texto}}</p>
                </div>
                
                {{#each alunos}}

                    <div id="{{this.id}}" class="aluno">
                        <h3 class="aluno__nome">{{this.User.nome}} <i id="a{{this.id}}" class="aluno__icon flaticon-diskette"></i></h3>

                        <div class="aluno__nota">
                            <label class="aluno__nota__label">Nota:</label>
                            <input id="n{{this.id}}" class="aluno__nota__input" type="number" value="{{this.nota}}" max="{{../avaliacao.pontos_total}}">
                        </div>

                    </div>

                {{/each}}

                {{#each respostas}}

                    <div class="resposta {{this.alunoId}}">
                        <h4 class="resposta__numero">({{this.numero_pergunta}})</h4>
                        <p class="resposta__texto">{{this.resposta}}</p>
                    </div>

                {{/each}}


                <a href="/professor/{{id}}/avaliacoes" class="voltar">VOLTAR</a>

            </div>
        </div>

        
    </div>
    
    <form id="form" method="POST">

        <input class="form__input" type="number" name="nota">
        <input class="form__input" type="number" name="aluno_id">

    </form>


    <!--Bootstrap-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script src="/scripts/professor-avaliacoes-corrigir.js"></script>

</body>
</html>