<!DOCTYPE html>
<html lang="pt-br">
<head>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/professor-avaliacoes.css">
    <link rel="stylesheet" href="/icons/font/flaticon.css">
    <link rel="stylesheet" href="https://use.typekit.net/gvd0wuw.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Result - English in the family | Professor</title>
</head>
<body>


    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 menu">
                <h1 class="menu__title">AVALIAÇÕES</h1>

                <h2 class="menu__subtitle">Pontos restantes: <span id="restantes"></span></h2>

                <a class="menu__adicionar" href="/professor/{{id}}/avaliacoes/criar">NOVA AVALIAÇÃO</a>
     


                <div class="avaliacoes">

                    {{#each avaliacoes}}

                        <div class="avaliacoes__avaliacao">

                            <h2 class="avaliacoes__avaliacao__title">Avaliação {{this.numero}}</h2>

                            <p class="avaliacoes__avaliacao__info"><span class="laranja">Avaliação:</span> {{this.Avaliação.nome}}</p>
                            
                            <p class="avaliacoes__avaliacao__info"><span class="laranja">Tipo:</span> {{this.Avaliação.tipo}}</p>

                            <p class="avaliacoes__avaliacao__info"><span class="laranja">Pontos por pergunta:</span> {{this.pontos_pergunta}}</p>

                            <p class="avaliacoes__avaliacao__info"><span class="laranja">Total de pontos:</span> <span class="pontos">{{this.pontos_total}}</span></p>

                            {{#if notas}}


                                <div class="avaliacoes__avaliacao__notas">
                                    <h3 class="avaliacoes__avaliacao__notas__title">Notas</h3>

                                    <ul class="avaliacoes__avaliacao__notas__lista">
                                        {{#each notas}}

                                            <li class="avaliacoes__avaliacao__notas__lista__aluno"><span class="aluno">{{this.Aluno.User.nome}}</span> <span class="nota">{{this.nota}} / {{../this.pontos_total}}</span></li>

                                        {{/each}}
                                    </ul>

                                </div>


                            {{/if}}


                            {{#if disponivel}}

    
                                <button class="avaliacoes__avaliacao__button" id="{{this.id}}">FECHAR</button>

                                {{else}}

                                <button class="avaliacoes__avaliacao__button" id="{{this.id}}">ABRIR</button>

                            {{/if}}


                            {{#if corrigido}}

                                {{else}}

                                <a href="/professor/{{../id}}/avaliacoes/corrigir/{{this.id}}" class="avaliacoes__avaliacao__button" id="{{this.id}}">CORRIGIR</a>

                            {{/if}}


                        </div>

                    {{/each}}


                </div>




                <a href="/professor/{{id}}" class="menu__link">VOLTAR</a>
            </div>
        </div>
    </div>

    <form method="POST" id="form">

        <input type="text" name="a_id" id="a_id">

    </form>


    <!--Bootstrap-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/scripts/professor-avaliacoes.js"></script>

</body>
</html>